<% content_for :head do %>
  <%= stylesheet_link_tag 'cart' %>
<% end %>

<h1>Please Confirm Your Payment Details</h1>

<div style="width:40%;">
  <table class="payment_confirmation">
    <tr><th>Name</th><td><%= @address['name'] %></td></tr>
    <tr><th>Total</th><td><%= @order_total %></td></tr>  
  </table>

  <% form_tag :action => 'complete', :token => params[:token], :payer_id => params[:PayerID] do %>
    <%= hidden_field_tag :order_total, "#{@order_total}" %>
    <%= submit_tag 'Complete Payment' %>
  <% end %>
</div>