<li class="product">
  <%= image_tag product.thumbnail.url(:micro), width: '75', height: '75' %>
  <h1><%= product.name %></h1>
  <h2><%= product.user.name %></h2>
  <p><%= image_tag 'like.png' %> <%= product.like_cache %></p>
</li>
