<li class="product_image" product-id="<%= product.id %>">
  <a href="<%= product_path(product)%>">
  <%= image_tag product.thumbnail.url(:micro), width: '75', height: '75' %>
  </a>
</li>
<li class="product_name">
  <a href="<%= product_path(product)%>"><%= product.name %></a>
</li>
<li class="product_user">
  <a href="<%= user_path(product.user)%>"><%= product.user.name %></a>
</li>
<li class="product_stats">
  <%= render partial: 'products/stats', locals: {product: product} %>
</li>
