<h1>Listing likes</h1>

<table>
  <tr>
    <th>User</th>
    <th>Product</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @likes.each do |like| %>
  <tr>
    <td><%= like.user_id %></td>
    <td><%= like.product_id %></td>
    <td><%= link_to 'Show', like %></td>
    <td><%= link_to 'Edit', edit_like_path(like) %></td>
    <td><%= link_to 'Destroy', like, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Like', new_like_path %>
