<%= form_for @user do |f| %>
  <%= f.error_messages %>
  <ul class="width_700 centre">
    <li>
      <label for="user[username]">Your name</label>
      <%= f.text_field :name, :placeholder => "Steve Jobs", :autofocus => '' %></li>
    <li>
      <label for="user[email]">Email</label>
      <%= f.text_field :email, :placeholder => "steve@me.com" %></li>
    <li>
      <label for="user[password]">Password</label>
      <%= f.password_field :password, :placeholder => "••••••" %></li>
    <li>
      <label for="user[password_confirmation]" class="two_line_label">Once more for good&nbsp;measure</label>
      <%= f.password_field :password_confirmation, :placeholder => "••••••" %></li>
  </ul>
  <div 
  <%# raw(recaptcha_tags) %>
  <div class="width_700 centre">
    <button class="black" type="submit" id="open_password_confirm">
      <div class="inner_glow">
        Create Account
      </div>
    </button>
  </div>
<% end %>

<script>
  new ChromaHash($('user_password'),{number: 3});
  new ChromaHash($('user_password_confirmation'),{number: 3});
</script>
