<% product = summary unless product %>
<div class="product_summary">
  <%= image_tag product.thumbnail.url(:thumb) %>
  <h1><%= product.name %></h1>
  <p><%= product.description %></p>
  <div class="product_summary_details">
    <%= render partial: 'products/purchase_button', locals: {product: product} %>
    <%= render partial: 'products/stats', locals: {product: product} %>
  </div>
</div>