<% product = summary unless product %>
<div class="product_summary">
  <a href="<%= product_path(product)%>">
  <%= image_tag product.thumbnail.url(:thumb), width: '128', height: '128' %>
  </a>
  <%= link_to "#{product.name}", product_path(product), :class => "product"%>
  <p><%= product.description %></p>
  <% if product.user == current_user %>
    <%= link_to "Edit", edit_product_path(product), :class=>"button" %>
  <% else %>
    <div class="product_summary_details">
      <%= render partial: 'products/purchase_button', locals: {product: product} %>
      <%= render partial: 'products/stats', locals: {product: product} %>
    </div>
  <% end%>
</div>
