<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Thumbnail file name:</b>
  <%= @product.thumbnail_file_name %>
</p>

<p>
  <b>Thumbnail content type:</b>
  <%= @product.thumbnail_content_type %>
</p>

<p>
  <b>Thumbnail file size:</b>
  <%= @product.thumbnail_file_size %>
</p>

<p>
  <b>Thumbnail updated at:</b>
  <%= @product.thumbnail_updated_at %>
</p>

<p>
  <b>File file name:</b>
  <%= @product.file_file_name %>
</p>

<p>
  <b>File content type:</b>
  <%= @product.file_content_type %>
</p>

<p>
  <b>File updated at:</b>
  <%= @product.file_updated_at %>
</p>

<p>
  <b>Preview file name:</b>
  <%= @product.preview_file_name %>
</p>

<p>
  <b>Preview content type:</b>
  <%= @product.preview_content_type %>
</p>

<p>
  <b>Preview updated at:</b>
  <%= @product.preview_updated_at %>
</p>

<p>
  <b>User:</b>
  <%= @product.user_id %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
