<% content_for :head do  %>
  <%= stylesheet_link_tag 'product' %>
<% end %>

<div class="product">
    
  <div id="preview" class="preview">
    <%= render :partial => 'preview', :object => @product.product_previews.first %>
  </div>
  
  <div class="slider">
    <ul>
      <% @product.product_previews.each do |p| %>        
        <%= link_to image_tag(p.preview.url(:thumb)), fetch_preview_product_url(p.id), :remote => :true %>
      <% end %>
    </ul>
  </div>
  
  <div class="clearfix"></div>

  <div class="trendingpower">
    <img src="<%= trending_power_graph(@product) %>">
  </div>

  <div class="buttons">
    <%= render :partial => 'purchase_button', :locals => { :product => @product } %>
  </div>
  
</div>