<li><%= link_to "+", new_product_path, :class => "add" %></li>
<li><%= link_to "Profile", user_path(current_user), :class => "profile" %></li>
<li><%= link_to "My Cart", '/cart', :class => "cart" %></li>
<li><%= link_to "Settings", edit_user_path(current_user), :class => "settings" %></li>
<li><%= link_to "Log Out", "/logout", :class => "log_out" %></li>