<li><%= link_to "+", new_product_path %></li>
<li><%= link_to "Profile", users_path(current_user) %>
<li><%= link_to "Settings", edit_user_path(current_user) %></li>
<li><%= link_to "My Cart", '/cart' %></li>
<li><%= link_to "Log Out", "/logout"%></li>